/* You can add global styles to this file, and also import other style files */
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashing-text {
  animation: flash 0.5s infinite; /* 1s duration, infinite repetition */
}

.background {
  background-image: url('assets/siviri.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  height: 100vh !important;
}

.black-rectangle {
  background-color: black;
  color: white;
  padding: 20px 40px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.black-rectangle h1 {
  margin: 0;
}

.text-center div {
  min-width: 60px; /* Ensures all blocks have the same width */
}

.d-flex div h1 {
  font-family: monospace; /* Ensures consistent character width */
}

.separator {
  font-size: 3rem;
  color: white;
  margin: 0 10px;
}

